#title {
  background-color: #FF4C68;
  color: white;
  text-align: center;
}

#features
{
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif, weight;
  background-color: white;
  z-index: 1;
  position: relative;
}

#testimonials
{
  text-align: center;
  background-color: #ef8172;
  color: white;

}

#press
{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

#pricing
{
  padding: 100px;
  text-align: center;
}

h1
{
  font-family: 'Montserrat', sans-serif, weight;
  font-weight: 900;

  font-size: 3rem;
  line-height: 1.5;
}

h2
{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3
{
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.card
{
  align-self: center;
  padding: 5px 20px;
}

.cardcol
{
  padding: 2%;
}

.carousel-item
{
  padding: 7% 15%;
}

.controls{
  padding: 0% 7%;
}

.container-fluid {
  padding: 3% 10% 3% 20%;
}

.feat{
  padding: 0% 15%;
}

.navbar-brand {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
}

.btn {
  margin-right: 12px;
}

.navbar{
  padding: auto 15px;
  padding-bottom:  50px;
  margin: auto -15px;
}

.nav-item
{
  padding: 0 12px;
}

.nav-link {
  color: lightgrey;
  font-size: 1.2rem;
}

.test {
  transform: rotate(25deg);
  width: 300px;
  padding-top: 5px;
  position: absolute;
  top: -25px;
  left: 0px;
}

.center
{
  text-align: center;
  padding: 3rem 10rem;
}

.fa-solid
{
  color: #ef8172;
}
.fa-solid:hover
{
  color: #ff4c68;
}

.fa-xl
{
  height: 1200px;
}

.test-img
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-text
{
  min-height: 145px;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
