/* Overall */
h1, h2, h3, h4, p
{
  font-family: 'Montserrat', sans-serif;
}

h1, h2
{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3
{
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

body{
text-align: center;
}

/* Buttons */
.btn {
  margin-right: 12px;
}

.fa-solid
{
  color: #ef8172;
}
.fa-solid:hover
{
  color: #ff4c68;
}

.fa-xl
{
  height: 1200px;
}

/* Title */
#title {
  background-color: #FF4C68;
  color: white;
}

h1
{
  text-align: left;
}

ul
{
  position:absolute;
  right: 0;
}

.container-fluid {
  padding: 3% 10% 3% 20%;
}

.navbar{
  padding: auto 15px;
  padding-bottom:  50px;
  margin: auto -15px;
}

.nav-item
{
  padding: 0 12px;
}

.nav-link {
  color: lightgrey;
  font-size: 1.2rem;
}

.navbar-brand {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
}

.test {
  transform: rotate(25deg);
  width: 300px;
  padding-top: 5px;
  position: absolute;
  top: -25px;
  left: 0px;
}

@media (max-width: 1020px)
{
  .test{
    position: static;
    transform: rotate(0);
  }
  h1
  {
    text-align: center;
  }
}

/* Features */
#features
{
  padding-top: 5%;
  background-color: white;
  z-index: 1;
  position: relative;
}

.feat-heading
{

}

.feat-text
{

}

.feat{
  padding: 0% 15%;
}

.center
{
  padding: 5% 10%;
}

/* Testimonials */
#testimonials
{
  background-color: #ef8172;
  color: white;

}

.testimonial-heading
{
  min-height: 145px;
}

.test-img
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item
{
  padding: 7% 15%;
}

.control{
  padding: 0% 7%;
}

/* Press */
#press
{
  background-color: #ef8172;
  padding-bottom: 3%
}

.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing
{
  padding: 100px;
}

.price-text
{

}

.price-dog
{

}

.price-price
{

}

.card
{
  padding: 5px 20px;
}

.cardcol
{
  padding: 2%;
}

/* CTA */
#cta
{
  background-color: #FF4C68;
  padding: 5% 10%;
  color: white;
}

.cta-heading
{
  margin-bottom: 4%;
}

/* Footer */
#footer
{
  text-align: center;
  padding-top: 5%;
  color: grey;
}

.footerrow
{
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 20px;
}

.copyright
{

}


/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
